section {
  margin: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  margin: 2rem;

  .id,
  .description,
  .cost {
    display: flex;
    flex-direction: column;
  }
}

.description {
  width: 30rem;
}
