<section>
  <div class="buttons">
    @if(createUrl()) {
      <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" [routerLink]="createUrl()" severity="contrast" />
    }
    @if(returnUrl()) {
      <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" [routerLink]="returnUrl()" severity="contrast" />
    }
    @if(hasAction) {
      <p-button icon="pi pi-save" [rounded]="true" [text]="true" severity="contrast" (click)="action()?.()" [disabled]="actionDisable()" />
    }
  </div>
  <h3>{{text()}}</h3>
    @if(redirectUrl()) {
      <p-button [label]="redirects[redirectUrl()]"
      [routerLink]="'/'+redirects[redirectUrl()]" class="link-button"
      severity=info
      ></p-button>
    }
</section>
