<section>
  <div class="buttons">
    @if(createUrl()) {
      <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" [routerLink]="createUrl()" severity="contrast" />
    }
    @if(returnUrl()) {
      <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" [routerLink]="returnUrl()" severity="contrast" />
    }
    @if(hasSave) {
      <p-button icon="pi pi-save" [rounded]="true" [text]="true" severity="contrast" (click)="execSave()" [disabled]="saveDisable()" />
    }
    @if(hasDelete) {
      <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" [rounded]="true" [text]="true" severity="contrast" (click)="execDelete()" />
    }
  </div>
  <h3>{{text()}}</h3>
    @if(redirectUrl()) {
      <p-button [label]="redirects[redirectUrl()].label"
      [routerLink]="'/'+redirects[redirectUrl()].route" class="link-button"
      severity="secondary"
    ></p-button>
    }
</section>
